<form method="post" action="{{ path('app_lieu_supprimer', {'id': lieu.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce lieu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('supprimer' ~ lieu.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>